@model HRSystem.Models.Department

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MangerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MangerId)
        </dd>

    </dl>
</div>

